

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}
.outer-box {
    width: 100vw;
    height: 125vh;
    background: linear-gradient(to top left, #1e48a3, #a8f5ff);
}
.inner-box {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
   /* background-color: #ffffff09;*/
   background: linear-gradient(to top left, #ffffffff, #ffffff33);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5;
    z-index: 2;
    backdrop-filter: blur(8px);
}

.signup-header h1 {
    font-size: 2.5rem;
    color: #212121;
}
.signup-header p {
    font-size: 0.9rem;
    color: #555;
}

.signup-body {
    margin: 20px 0;
}

.signup-body p{
    margin: 10px 0;
}

.signup-body p label {
    display: block;
    font-weight: bold;
}

.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}

.signup-body p select {
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}

.signup-body p input[type="submit"] {
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
    width: 20%;
    margin-left: 35%;
    margin-top: 30px;
}

.signup-body p input[type="submit"]:hover {
    background-color: #205f89;
}

.signup-footer p{
    color: #555;
    text-align: center;
}

.signup-footer p a{
    color: #205f89;
}

.circle
{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffff33, #ffffffff);
    position: absolute;
}
.c1
{
    top: 100px;
    left: 40px;
}
.c2 {
    bottom: 200px;
    right: 50px;
}


table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    
  }
th, td {
    background-color: #96D4D4;
    border-style: inset;
}
  

#sub,ite{
    width: 60%;
}
